@font-face {
  font-family: ARCO;
  src: local('ARCO'),url('../fonts/ARCO.ttf');
}            
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ARCO", sans-serif;
}
.body-Rp{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #398d6b;
}
.container-Rp{
 
  width: 520px;
  height: 90vh;
  background-color: #60c19b;
  
  padding: 25px 30px;
  border-radius: 10%;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
 
}
.container-Rp .title1{

  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
.container-Rp .span-Rp{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
   
}
.container-Rp form .emoji{
    font-size: 200px;
    margin-left: 90px;
}
.container-Rp form .button-Rp{
   height: 45px;
   width: 300px;
   margin: 50px auto; 
}

.container-Rp form .button-Rp{
   height: 100%;
   width: 60%;
   border-radius: 25px;
   margin-top: 10px;
  margin-left:90px;
   border: none;
   color: #fff;
   font-size: 35px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
   -webkit-border-radius: 25px;
   -moz-border-radius: 25px;
   -ms-border-radius: 25px;
   -o-border-radius: 25px;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
}
 .container-Rp form  .button-Rp:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  color: #111;
  }  

  @media(max-width: 690px){
    .container-Rp{
      max-width:460px;
    }
    .container-Rp form .emoji{
      margin-left: 70px;
    }
  }





