@font-face {
  font-family: ARCO;
  src: local('ARCO'),url('../../ARCO.ttf');
}            
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ARCO", sans-serif;
}
.body_l3{
  
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.6;
  display: inline-table;
  background-image:url("./../images/residuosf.jpg");
  background-repeat: no-repeat;
  background-position-x: -165px;
  background-size: 150%;
}
.app_container{
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: -30px 50px;
  margin-bottom: 10px;
 
}
.dd_container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px 10px;
  width: 100%;
  height: 70vh;
  max-width: 1200px;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.dd_container h2{
  font-size: 17px;
  letter-spacing: 0.2em;
  color: #fff;
}
.dd_container:nth-child(1){
  margin-left: 70px;
  height: 100%;
}
.dd_container:nth-child(2){
  background-color: #161616;
  background-image:url("./../images/simbolo4.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y:370px;
  background-size: 35%;
  }
.dd_container:nth-child(3){
  background-image:url("./../images/simbolo3.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y:370px;
  background-size: 60%;
  background-color:#b5b5b5 ;
}
.dd_container:nth-child(4){
  background-color: #b80606;
  background-image:url("./../images/simbolo2.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y:370px;
  background-size: 30%;
  }
  .dd_container:nth-child(5){
    background-color: #26422b;
    background-image:url("./../images/simbolo.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y:370px;
    background-size: 50%;
    }
  
.drop_container{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin: 5px 10px;
  width: 235px;
  height: 90px;
  border-radius: 10px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.5);
  background: linear-gradient(135deg, #d41e31, #491f8f);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.drag_container{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 250px;
  height: 98%;
  border-radius: 10px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.5);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.drag_container img{
  width: 35%;
  position: relative;
  margin:3% 30%;
  padding-top: 10px;
  padding: 5px 15px 5px 5px;
}
.button_next input{
  height: 50px;
  width: 210px;
  margin-top: -40px;
  margin-left: 1090px;
  margin-bottom:10px;
  border: none;
  color: #fff;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius:25px;
  transition: all 0.3s ease;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.button_next input:hover{
 /* transform: scale(0.99); */

 color: #111;
 }
 .time_remaining{
  margin-top: 20px;
  letter-spacing: 1px;
 }
 .time_remaining h2{
  position: relative;
  margin-left: 5px;
  margin-top: -20px;
  font-size: 18px;
  color: #00C853;
  font-weight: 600px;
  margin-bottom: 10px;
 }
 .time_remaining h3{
  position: relative;
  margin-left: 5px;
  margin-top: -20px;
  font-size: 18px;
  color: #F08080;
  font-weight: 600px;
  margin-bottom: 10px;
 }
 .time_remaining button{
  height: 50px;
  width: 210px;
  margin-top: 12px;
  margin-left: 50px;
  margin-bottom:10px;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
 .error2 {
  position: absolute;
  background-color: #F08080;
  height: 45px;
  width: 40%;
  outline: none;
  font-size: 17px;
  margin-top: 5px;
  margin-left: 400px;
  padding-top: 10px;
  border:none;
  text-align: center;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.3);
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}
.alert2 {
  position: absolute;
  background-color: #00c853;
  height: 45px;
  width: 40%;
  outline: none;
  font-size: 17px;
  margin-top: 5px;
  margin-left: 400px;
  padding-top: 10px;
  border:none;
  text-align: center;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.3);
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
}

.overlay_l3{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}
.container_l3{
  position: relative;
  align-items: center;
  width: 600px;
  height: 85vh;
  margin-top: 40px;
  justify-content: center;
  background-color: #fff;
  padding: 25px 100px;
  border-radius: 10%;
  box-shadow:  0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}
.container_l3 .title1{

  font-size: 28px;
  font-weight: 500;
  text-align: center;
}
.container_l3 .span_l3{
    font-size: 15px;
    text-align: center;
    display: flex;
  }
  .content_l3 img{
    width: 15%;
  }

 .container_l3 form .button_l3{
  width: 80%;
  height: 100%;
  border-radius: 25px;
  margin-top: 10px;
  margin-left:40px;
  border: none;
  color: #fff;
  font-size: 35px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.container_l3 form  .button_l3:hover{
 /* transform: scale(0.99); */
 background: linear-gradient(-135deg, #71b7e6, #9b59b6);
 color: #111;
 } 

   @media(max-width: 596px){
    .Navbar_l3{
      top:0;
      position: fixed;
      width: 100%;
      z-index: 1;
    }
    
    .container_l3{
      top: 50px;
      left: 0;
      max-width:95%;
      height: 82vh;

    }
    .container_l3 .span_l3{
      font-size: 18px;
      margin-left: -40px;
    }
    .container_l3 p{
      font-size: 18px;
      margin-left: -40px;
    }
    .content_l3 form .button_l3{
      width: 80%;
      margin-left: 25px;
    }
    .overlay-l3{
      display: fixed;
      z-index: 1;
    }
}
@media(max-width: 496px){
  .body_l3{
    display: flex;
    overflow: hidden;
  }
  .Navbar_l3{
    top:0;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .app_container{
    display:inline-block;
    max-width: 600px;
  }
  .dd_container{
    top: 20px;
    left: -40px;
    width:350px;
  }
  .dd_container:nth-child(2){
    height: 50%;
    margin-top: -60px;
  }
  .dd_container:nth-child(3){
    height: 50%;
    margin-top: -60px;
  }
  .dd_container:nth-child(4){
    height: 50%;
    margin-top: -60px;
  }
  .dd_container:nth-child(5){
    height: 50%;
    margin-top: -60px;
  }
 
  .drag_container{
    width: 340px;
    display:flex;
    flex-direction: column;

  }
  .drag_container img{
    width: 30%;
    position: relative;
    margin:5px 5px;   
  }
  
  .container_l3{
    top: -40px;
    width:95%;
    height: 75vh;
  }
  .container_l3 .title1{
    font-size: 15px;
    font-weight: 600;
  }
  .container_l3 .span_l3{
    font-size: 15px;
  }
  .container_l3 p{
    font-size: 15px;
    margin-left: -40px;
  }
  .content_l3 form .button_l3{
    width:230px;
    margin-left: -45px;
    font-size: 25px;
  }
  .time_remaining h2{
    font-size: 12px;
  }
  .time_remaining h3{
    font-size: 12px;
  }
}

