@font-face {
    font-family: ARCO;
    src: local('ARCO'),url('../fonts/ARCO.ttf');
  }            
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ARCO", sans-serif;
  }
.body-p{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background:#252839;
    overflow: hidden;
}
.wrapper-p{
    max-width: 1200px;
    width: 100%;
    height: 20%;
}
.wrapper-p h2{
    position: relative;
    font-size: 6em;
    text-align: center;
    color: #252839;
    -webkit-text-stroke: 0.2vw #383d52;
    text-transform: uppercase;
}
.wrapper-p h2::before{
    content: attr(data-text);
    position: absolute;
    color: #01fe87;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #01fe87;
    -webkit-text-stroke:0vw #383d52;
    animation: animate 6s linear infinite;
    -webkit-animation: animate 6s linear infinite;
    filter: drop-shadow(0 0 10px #01fe87);
    -webkit-filter: drop-shadow(0 0 10px #01fe87);
}
 
@keyframes animate {
    0%, 10%,100%
    {
      width: 0;
    }
    70%,90%
    {
        width: 100%;
    }
}

form .button-p {
    height: 100%;
    width:40%;
    margin: 50px 270px;
    border-radius: 25px;
    border: none;
    color: #fff;
    font-size: 35px;
    letter-spacing: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
@media (max-width:960px){
    .body-p{
        overflow: hidden;
    }
    .wrapper-p{
        max-width: 900px;
    }
    .wrapper-p h2{
        font-size: 4.2em;  
        align-items: center;
    }
    @keyframes animate {
        0%, 10%,100%
        {
          width: 0;
        }
        70%,90%
        {
            width: 77%;
        }
    }
    form .button-p{
        margin-left: 210px;
        width: 37%;
    }
    
}
@media (max-width:596px){
  
    .wrapper-p{
        max-width: 700px;
    }
    .wrapper-p h2{
        font-size: 3.5em;  
        align-items: center;
    }
    @keyframes animate {
        0%, 10%,100%
        {
          width: 0;
        }
        70%,90%
        {
            width: 75%;
        }
    }
    form .button-p{
        margin-left: 210px;
        width: 37%;
    }
    
}
@media (max-width:496px){
  
    .wrapper-p{
        max-width: 700px;
    }
    .wrapper-p h2{
        font-size: 2.5em;  
        text-align: center;
        left: 10px;
    }
    @keyframes animate {
        0%, 10%,100%
        {
          width: 0;
        }
        70%,90%
        {
            width: 56%;
        }
    }
    form .button-p{
        margin-left: 220px;
        width: 37%;
        letter-spacing: 2px;
    }
    
}

