@font-face {
  font-family: ARCO;
  src: local('ARCO'),url('../fonts/ARCO.ttf');
}            
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ARCO", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.title_g {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  color: #4E4B4B;
  padding-top: 20px;

}

.container {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;

}

.container .card {
  position: relative;
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.8);
  background-color: #007B3B;
  margin: 25px;
  text-align: center;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}

.container .card:hover {
  box-shadow: -12px -12px 12px rgba(0, 0, 0, 0.8);
  background-color: #00482B;
  transform: translateY(-15px); 
  -webkit-transform:;
  -moz-transform:;
  -ms-transform:;
  -o-transform:;
}

.card img {
    top: 20%;
    bottom: 0;
    margin-left: -5px;
    padding-left: 10px;
    width: 100%;
    height: 240px;
    position: absolute;
    transform: translateX(-50%);
    transition: 0.5s;
    border-radius:20px ;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

.card:hover img {
  top: 80%;
  margin-left: 28%;
  width: 20%;
  height: 10%;
  transition: 0.6s;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  transform: perspective(200px)rotateY(360deg);
  -webkit-transform: perspective(200px)rotateY(360deg);
  -moz-transform: perspective(200px)rotateY(360deg);
  -ms-transform: perspective(200px)rotateY(360deg);
  -o-transform: perspective(200px)rotateY(360deg);
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}

.card .description {
  position: relative;
  width: 100%;
  padding: 40px;
  text-align: left;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.card:hover .description {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.card .description h2 {
  color: #ffcf0f;
  font-size: 2em;
  line-height: 1em;
}

.card .description p {
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 0.1em;
}

.container .next input[type="submit"] {
  width: 190px;
  height: 50px;
  margin-bottom: 20px;
  font-size: 30px;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background-color: #79C000;
  transition: all 0.3s ease;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.container .next input[type="submit"]:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

@media (max-width:960px) {

  .Navbar-l1 {
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
  }

  .container {
    margin-top: 70px;
  }

  .container .next input[type="submit"] {
    margin-bottom: 20px;
  }
}
@media (max-width:496px) {

  .title_g{
    top: 60px;
    font-size: 25px;
  }
  .card .description p {
    font-size: 15px;
    font-weight: 500;
  }
}