@font-face {
    font-family: ARCO;
    src: local('ARCO'),url('../fonts/ARCO.ttf');
  }            
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ARCO", sans-serif;
  }
 
  .body-pdf{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #00462B;
    overflow: hidden;
  }
  @media screen and (max-width: 790px)  and (orientation:landscape){
    
    body{
      visibility: hidden;
      width: 100%;
      height: 100vw;
      overflow: hidden;
      background-image: url("../images/rotate2.png");
      background-position:center;
      background-position-y:50px;
      background-repeat: no-repeat;
    }
    }

    
  .container-pdf{
    position: relative;
    width: 100%;
    height: 90%;
  }
  .container-pdf::-webkit-scrollbar{
    width: 15px;
  }
  .container-pdf::-webkit-scrollbar-thumb{
    width: 15px;
    background: linear-gradient(135deg, #007b3b, #01A89E);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  .button-pdf input[type="submit"]{
    position: relative;
    float: right;
    margin: 10px 0;
    margin-bottom: 10px;
    width: 200px;
    height: 50px;
    border: none;
    background: linear-gradient(135deg, #007B3B, #79C000);
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 25px;
    transition: all 0.3s ease;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }
  
  @media(max-width:496px){

  
  .container-pdf{

      max-width:500px;
      width: 100%;
      height: 350px;
      background-color: #fff;
      padding: 25px 30px;
      margin: 150px 0;
      border-radius: 15px;
      box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.8);
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
    }
  p{
    flex-wrap: wrap;
    margin-top: 10px;
    padding: 10px 20px 10px 10px;
    font-size: 20px;
    text-align: left;
  }
  
  a{
    position: relative;
    padding: 15px 55px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
    border: none;
    background: linear-gradient(135deg, #007B3B, #79C000);
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 25px;
    transition: all 0.3s ease;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.container-pdf form .button-pdf input[type="submit"]{
  left:-55px;
}

}