@font-face {
  font-family: ARCO;
  src: local('ARCO'),url('../fonts/ARCO.ttf');
}            
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ARCO", sans-serif;
}
.body2{

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-image: url("./../images/lab.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  overflow: hidden;
}
.container1{
  width:450px;
  height: 350px;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.container1 .title1{
  font-size: 35px;
  font-weight: 500;
  text-align: center;
}
.container1 .title1::before{
  content: "";
  position: absolute;
  left: 20%;
  bottom: 0;
  height: 3px;
  width: 60%;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
 form .button1{
   height: 45px;
   width: 300px;
   margin: 50px auto; 
}

 form .button1 input{
   height: 100%;
   width: 100%;
   border-radius: 25px;
   border: none;
   color: #fff;
   font-size: 25px;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
   -webkit-border-radius: 25px;
   -moz-border-radius: 25px;
   -ms-border-radius: 25px;
   -o-border-radius: 25px;
   -webkit-transition: all 0.3s ease;
   -moz-transition: all 0.3s ease;
   -ms-transition: all 0.3s ease;
   -o-transition: all 0.3s ease;
}
 form .button1 input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  color: #111;
  }
  form .button1 span .icon_play{
    position:absolute;
    font-size: 25px;
    margin-top: 13px;
    margin-left: 37px;
    color: #ED6666;
  
  }
  @media(max-width: 991px){

    
    .container1{

      max-width:590px;
      height: 50vh;
    }
    .container1 .title1{
      display: block;
    }
  }
 @media(max-width: 486px){

  .container1{
    width: 90%;
    height: 70%;
    overflow: hidden;
    margin-top: -150px;
    margin-left: 20px;
    overflow: hidden;
  }
  .container1 .title1{
    display: block;
  }
  form .button1 input{
    width: 85%;
   margin-left: 10px;
  }
  
}



