@font-face {
  font-family: ARCO;
  src: local("ARCO"), url("../fonts/ARCO.ttf");
}
.body-l4 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: inline-table;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03em;
  line-height: 1.6;
  box-sizing: border-box;
  font-family: "ARCO", sans-serif;
  background-image: url("./../images/virusf.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: cover;
  overflow-y: auto;
}

.container-l4 {
  position: relative;
  margin: 20px auto;
  height: 600px;
  width: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1em;
}
.card-l4 {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transform: rotateY(180deg);
  animation: 4s hidecard-l4 linear;
  transition: transform 0.5s;
  -webkit-animation: 4s hidecard-l4 linear;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}
@keyframes hidecard-l4 {
  0%,
  70% {
    transform: rotateY(0);
    -webkit-transform: rotateY(0);
    -moz-transform: rotateY(0);
    -ms-transform: rotateY(0);
    -o-transform: rotateY(0);
  }
  100% {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
  }
}
.card-l4 img {
  max-width: 80%;
  max-height: 80%;
  transition: transform 0.5s;
  transform: scale(0);
  animation: 2s hideImage linear;
  -webkit-animation: 2s hideImage linear;
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
}
@keyframes hideImage {
  0%,
  70% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
}

.card-l4.active {
  transform: rotateY(0);
  background-color: #79c000;
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
}
.card-l4.correct {
  background-color: #79c000;
}
.card-l4.wrong {
  background-color: #fd245a;
}
.card-l4.active img {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.time-remaining-l4 {
  font-size: 20px;
  text-align: center;
  margin: 20px auto;
}
.time-remaining-l4 h2 {
  color: #111;
}
.time-remaining-l4 h3 {
  color: #fd245a;
}
.overlay-l4 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px) saturate(150%);
}
.popup-l4 {
  background-color: #fff;
  position: relative;
  align-items: center;
  max-width: 550px;
  width: 100%;
  height: 98%;
  top: 0;
  justify-content: center;
  padding: 25px 40px;
  border-radius: 5%;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}
.popup-l4 .title1 {
  font-size: 25px;
  text-align: center;
  color: #007b2b;
  font-weight: 600;
}
.popup-l4 .span-l4 {
  margin-top: 10px;
  margin-left: 60px;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
}
.popup-l4 p {
  color: #00c853;
  font-size: 16px;
  font-weight: 500;
  width: 50%;
  margin: 2px auto;
  text-align: center;
}

.popup-l4 form .button-l4 {
  max-width: 300px;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  margin-top: 10px;
  margin-left: 80px;
  border: none;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #00c853, #01a89e);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.popup-l4 form .button-l4:hover {
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #00c853, #01a89e);
  color: #111;
}

@media (max-width: 596px) {
  .body-l4 {
    height: 100vh;
    overflow: hidden;
  }
  .Navbar-l4 {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .time-remaining-l4 {
    position: relative;
    top: 80px;
    left: 80px;
    font-size: 18px;
    text-align: center;
    margin: 20px auto;
  }
  .container-l4 {
    top: 80px;
    width: 380px;
    height: 380px;
  }
  .overlay-l4 {
    z-index: 1;
    display: fixed;
  }
  .popup-l4 {
    width: 95%;
    height: 95%;
  }
  .popup-l4 .span-l4 {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
  }
  .popup-l4 p {
    font-size: 14px;
    font-weight: 600;
  }
  .popup-l4 form .button-l4 {
    width: 80%;
    height: 50px;
    margin-top: 15px;
    margin-left: 50px;
    font-size: 20px;
  }
}

@media (max-width: 496px) {
  .body-l4 {
    height: 100vh;
    overflow: hidden;
  }
  .Navbar-l4 {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .time-remaining-l4 {
    position: relative;
    top: 80px;
    left: 80px;
    font-size: 18px;
    text-align: center;
    margin: 20px auto;
  }

  .container-l4 {
    top: 80px;
    width: 380px;
    height: 380px;
  }
  .overlay-l4 {
    z-index: 1;
    display: fixed;
  }
  .popup-l4 {
    width: 95%;
    height: 98%;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    overflow-y: auto;
  }
  .popup-l4 .title1 {
    font-size: 20px;
    font-weight: 600;
  }
  .popup-l4 .span-l4 {
    margin-left: 10px;
    font-size: 15px;
    margin-top: -5px;
  }
  .popup-l4 p {
    font-size: 15px;
    text-align: left;
  }
  .popup-l4 form .button-l4 {
    width: 80%;
    height: 50px;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 20px;
  }
}
