@font-face {
  font-family: ARCO;
<<<<<<< HEAD
  src: local("ARCO"), url("../fonts/ARCO.ttf");
}
=======
  src: local('ARCO'),url('../fonts/ARCO.ttf');
}            
>>>>>>> 7e63c3558bda0e4289b8b0e362ea6dcf9dd21131
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ARCO", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
<<<<<<< HEAD
.body-q1 {
=======
.body-q1{
>>>>>>> 7e63c3558bda0e4289b8b0e362ea6dcf9dd21131
  width: 100%;
  height: 100%;
  letter-spacing: 0.03em;
  line-height: 1.6;
  background-image: url("../images/residuos2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
<<<<<<< HEAD
  background-position: center;
=======
>>>>>>> 7e63c3558bda0e4289b8b0e362ea6dcf9dd21131
  overflow: hidden;
}
.question1 {
  position: relative;
  max-width: 910px;
  width: 100%;
  margin: 0px auto;
  border: none;
<<<<<<< HEAD
  border-radius: 10px;
  background-color: #00482b;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
=======
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
>>>>>>> 7e63c3558bda0e4289b8b0e362ea6dcf9dd21131
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.question1 p {
  flex-wrap: wrap;
  margin-top: 70px;
  padding: 10px 20px 10px 10px;
  font-size: 22px;
  font-weight: 600;
  text-align: left;
  color: #fff;
}
.question1 img {
  width: 30%;
  margin-left: 300px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
<<<<<<< HEAD
.question1 .time-remaining-q1 {
  top: 110px;
  float: right;
  left: 350px;
}
.question1 .time-remaining-q1 h2 {
  margin: auto;
=======
.question1 .time-remaining-q1{
  top: 110px;
  float: right;
  left:350px;
 }
 .question1 .time-remaining-q1 h2{
  margin-left: 80px;
  margin-top: -20px;
  padding-top: 20px;
>>>>>>> 7e63c3558bda0e4289b8b0e362ea6dcf9dd21131
  font-size: 20px;
  color: #121212;
  font-weight: 600px;
  margin-bottom: 10px;
<<<<<<< HEAD
}
.question1 .time-remaining-q1 h3 {
  margin: auto;
=======
 }
 .question1 .time-remaining-q1 h3{
  margin-left: 80px;
  margin-top: -20px;
  padding-top: 20px;
>>>>>>> 7e63c3558bda0e4289b8b0e362ea6dcf9dd21131
  font-size: 20px;
  color: #121212;
  font-weight: 600px;
  margin-bottom: 10px;
}
.app-container-q1 {
  width: 900px;
  width: 100%;
  height: 80vh;
  justify-content: center;
  margin: 40px auto;
  margin-bottom: 10px;
}
.dd-container-q1 {
  position: relative;
  align-items: center;
  margin: 50px auto;
  max-width: 900px;
  width: 100%;
  height: 200px;
<<<<<<< HEAD
=======
  border-radius:5px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
}

.dd-container-q1 h2{
  font-size: 17px;
  text-align: center;
}

.drag-container-q1{
  padding: 10px;
  width: 98%;
  overflow: hidden;
  height: 150px;
  margin-left: 10px;
  display:flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  background: linear-gradient(135deg, #d41e31, #491f8f);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
}


.drop-container-q1{
  width: 200px;
  height: 100%;
  background: #fff;
  margin: 20px 5px;
  padding: 5px 5px 5px;
  text-align: center;
  border: none;
>>>>>>> 7e63c3558bda0e4289b8b0e362ea6dcf9dd21131
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-color: #4e4b4b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
<<<<<<< HEAD

.dd-container-q1 h2 {
  font-size: 17px;
  text-align: center;
  color: #fff;
=======
.drag-container-q1 span{
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
>>>>>>> 7e63c3558bda0e4289b8b0e362ea6dcf9dd21131
}

.drag-container-q1 {
  padding: 10px;
  width: 98%;
  overflow: hidden;
  height: 150px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  background: linear-gradient(135deg, #007b3b, #79c000);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}
.arrow_down {
  width: 20;
}

.drop-container-q1 {
  width: 200px;
  height: 100%;
  background: #fff;
  margin: 20px 5px;
  padding: 5px 5px 5px;
  text-align: center;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
}
.drag-container-q1 span {
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}

.button_next1 input[type="submit"] {
  position: relative;
  float: right;
  margin: -20px 40px;
  margin-bottom: 40px;
  width: 20%;
  height: 40px;
  border: none;
  background-color: #007b3b;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.3s ease;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
<<<<<<< HEAD
.button_next1 input[type="submit"]:hover {
  color: #111;
  background-color: #79c000;
}

.overlay-q1 {
=======
.button_next1 input[type="submit"]:hover{
 color: #111;
 }
 

.overlay-q1{
>>>>>>> 7e63c3558bda0e4289b8b0e362ea6dcf9dd21131
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px) saturate(150%);
}
.container-q1 {
  background-color: #fff;
  position: relative;
  align-items: center;
  max-width: 600px;
  width: 100%;
<<<<<<< HEAD
  height: 80vh;
=======
  height: 78vh;
>>>>>>> 7e63c3558bda0e4289b8b0e362ea6dcf9dd21131
  margin-top: 40px;
  justify-content: center;
  padding: 25px 40px;
  border-radius: 10%;
<<<<<<< HEAD
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  -webkit-border-radius: ;
  -moz-border-radius: ;
  -ms-border-radius: ;
  -o-border-radius: ;
=======
  box-shadow:  0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
>>>>>>> 7e63c3558bda0e4289b8b0e362ea6dcf9dd21131
}
.container-q1 .title1 {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  color: #007b3b;
}
.container-q1 .span-q1 {
  margin-top: 10px;
<<<<<<< HEAD
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  color: #121212;
}
.container-q1 p {
  color: #01a89e;
  font-size: 20px;
  font-weight: 500;
  width: 50%;
  border-radius: 5px;
  margin: 10px auto;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
=======
    font-size: 17px;
    text-align: center;
    margin: 0 auto;
  }
  .container-q1 p{
    color: #71b7e6;
    font-size: 17px;
    width: 50%;
    border-radius:5px;
    margin:10px auto;
    text-align: center;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
>>>>>>> 7e63c3558bda0e4289b8b0e362ea6dcf9dd21131
}
.container-q1 p:nth-child(8){
  color:#00C853;
}

.container-q1 .button-q1 {
  max-width: 300px;
  width: 100%;
  height: 40px;
  border-radius: 25px;
  display: block;
  margin: auto;
  border: none;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #007b3b, #79c000);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  scroll-behavior: smooth;
}
.container-q1 form .button-q1:hover {
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #007b3b, #79c000);
  color: #111;
}
.alert-q1 {
  position: absolute;
  background-color: #00c853;
  top: 610px;
  left: 550px;
  padding-top: 10px;
  width: 15%;
  height: 6%;
  outline: none;
  font-size: 17px;
  border: none;
  z-index: 2;
  text-align: center;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
}

.error-q1 {
  position: absolute;
  background-color: #f08080;
  top: 610px;
  left: 550px;
  padding-top: 10px;
  width: 15%;
  height: 6%;
  outline: none;
  font-size: 17px;
  border: none;
  z-index: 2;
  text-align: center;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
}

@media (max-width: 960px) {
  .Navbar-q1 {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .question1 {
    width: 80%;
    top: 70px;
    left: 3px;
  }
  .question1 p {
    font-size: 20px;
  }

  .question1 p .app-container-q1 {
    width: 80%;
    height: 100vh;
  }
<<<<<<< HEAD
  .question1 .time-remaining-q1 h3 {
    margin: 0px 10px;
    font-size: 18px;
=======
  .question1 .time-remaining-q1 h3{
      margin: 0px 10px;
      font-size: 14px;
>>>>>>> 7e63c3558bda0e4289b8b0e362ea6dcf9dd21131
  }
  .dd-container-q1:nth-child(1) {
    margin: 120px auto;
    width: 80%;
  }
  .dd-container-q1:nth-child(2) {
    margin: -80px auto;
    width: 80%;
  }
  .button_next1 input[type="submit"] {
    top: 130px;
    float: right;
    width: 180px;
    font-size: 20px;
  }
  .drag-container-q1 {
    display: flex;
    width: 95%;
    margin-left: 20px;
    margin-top: 0;
  }
  .drop-container-q1 {
    width: 150px;
    height: 100px;
    display: inline-flex;
    margin: 20px 10px;
  }
<<<<<<< HEAD
  .drag-container-q1 span {
    font-size: 18px;
    padding: auto;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
  }
  .alert-q1 {
    top: 462px;
    left: 330px;
    font-size: 14px;
  }
  .error-q1 {
    width: 30%;
    top: 462px;
    left: 220px;
    font-size: 14px;
  }
  .overlay-q1 {
=======
  .drag-container-q1 span{
    font-size: 12px;
    padding: auto;
    border-radius:15px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
} 
  .overlay-q1{
>>>>>>> 7e63c3558bda0e4289b8b0e362ea6dcf9dd21131
    z-index: 1;
    display: fixed;
  }
  .container-q1 {
    width: 500px;
<<<<<<< HEAD
    margin-top: 20px;
    height: 85vh;
=======
    margin-top: 40px;
    height: 80vh;
>>>>>>> 7e63c3558bda0e4289b8b0e362ea6dcf9dd21131
  }
  .container-q1 .span-q1 {
    font-size: 18px;
    text-align: center;
  }
  .container-q1 p {
    font-size: 18px;
    margin: 10px auto;
  }
  .content-q1 form .button-q1 {
    width: 80%;
    display: block;
    margin: auto;
  }
}
@media (max-width: 596px) {
  .Navbar-q1 {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .question1 {
    width: 85%;
    height: 200px;
    top: 70px;
    left: -5px;
  }
  .question1 p {
    font-size: 16px;
  }

  .question1 img {
    width: 30%;
    float: right;
    margin-right: 20px;
  }
<<<<<<< HEAD
  .question1 .time-remaining-q1 h2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
  }
  .question1 .time-remaining-q1 h3 {
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
  }
  .app-container-q1 {
=======
  .question1 .time-remaining-q1 {
      float: left;
      top: 295px;
      z-index: 1;
    }
    .question1 .time-remaining-q1 h2{
      margin: 10px 5px;
      font-size: 18px;
    }
    .question1 .time-remaining-q1 h3{
      font-size: 15px;
    }
  .app-container-q1{
>>>>>>> 7e63c3558bda0e4289b8b0e362ea6dcf9dd21131
    width: 85%;
  }
  .dd-container-q1:nth-child(1) {
    width: 100%;
  }
  .dd-container-q1:nth-child(2) {
    width: 100%;
  }
  .drag-container-q1 {
    display: inline-flex;
    flex-direction: row;
    width: 95%;
    height: 25vh;
    margin: 0px 10px;
<<<<<<< HEAD
  }
  .drop-container-q1 {
    width: 100px;
    height: 110px;
  }
  .drag-container-q1 span {
    font-size: 13px;
=======
}
  .drop-container-q1{
    width: 100px;
    height: 110px;
  }
  .drag-container-q1 span{
    font-size: 9px;
>>>>>>> 7e63c3558bda0e4289b8b0e362ea6dcf9dd21131
    margin-left: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
<<<<<<< HEAD
  }

  .button_next1 input[type="submit"] {
    left: 40px;
=======
}
 
  .button_next1 input[type="submit"]{
    left:40px;
>>>>>>> 7e63c3558bda0e4289b8b0e362ea6dcf9dd21131
    float: right;
    width: 180px;
    font-size: 18px;
  }
<<<<<<< HEAD
  .alert-q1 {
    width: 30%;
    top: 530px;
    left: 150px;
  }
  .error-q1 {
    width: 30%;
    top: 530px;
    left: 155px;
  }
  .overlay-q1 {
=======
 
   
  .overlay-q1{
>>>>>>> 7e63c3558bda0e4289b8b0e362ea6dcf9dd21131
    z-index: 2;
  }
  .title1 {
    font-size: 25px;
    font-weight: 600;
  }
  .container-q1 {
    margin-top: 40px;
    margin-left: -20px;
    width: 90%;
    height: 78vh;
  }
  .container-q1 .span-q1 {
    font-size: 20px;
    text-align: center;
  }
  .container-q1 p {
    font-size: 20px;
    text-align: center;
    margin: 5px auto;
  }
  .content-q1 form .button-q1 {
    width: 85%;
<<<<<<< HEAD
    display: block;
    margin: auto;
  }
}
@media (max-width: 496px) {
  .Navbar-q1 {
    top: 0;
=======
    margin-left: 25px;
  }
}
@media(max-width: 496px){
  
  .Navbar-q1{
    top:0;
>>>>>>> 7e63c3558bda0e4289b8b0e362ea6dcf9dd21131
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .question1 {
    width: 80%;
<<<<<<< HEAD
    top: 20px;
=======
     top:100px;
>>>>>>> 7e63c3558bda0e4289b8b0e362ea6dcf9dd21131
    align-items: center;
    background-color: transparent;
  }
  .question1 p {
    font-size: 15px;
  }

  .app-container-q1 {
    width: 80%;
    
  }
  .dd-container-q1 {
    height: 18%;
  }
<<<<<<< HEAD
  .dd-container-q1:nth-child(1) {
    top: -60px;
    margin: 130px -4px;
  }
  .dd-container-q1:nth-child(2) {
    top: -50px;
=======
  .dd-container-q1:nth-child(1){
    top:20px;
    margin: 130px -4px;
  }
  .dd-container-q1:nth-child(2){
    top:20px;
>>>>>>> 7e63c3558bda0e4289b8b0e362ea6dcf9dd21131
    margin: -80px -4px;
  }

  .drag-container-q1 {
    margin: 0px 10px;
    width: 95%;
    height: 10vh;
<<<<<<< HEAD
  }
  .drop-container-q1 {
    margin-left: -5px;
    width: 80px;
    height: 60px;
    align-items: center;
  }

  .drag-container-q1 span {
    font-size: 9px;
    text-align: left;
    border-radius: 4px;
    font-weight: 600;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }
  .button_next1 input[type="submit"] {
    top: 80px;
=======
    
}
 .drop-container-q1{
  margin-left: -5px;
  width: 80px;
  height: 60px;
  align-items: center;
 }

  .drag-container-q1 span{
    font-size:6px;
    text-align: left;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
}
  .button_next1 input[type="submit"]{
    top:160px;
>>>>>>> 7e63c3558bda0e4289b8b0e362ea6dcf9dd21131
    width: 50%;
    float: right;
    font-size: 16px;
  }
<<<<<<< HEAD
  .question1 .time-remaining-q1 h2 {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }
  .question1 .time-remaining-q1 h3 {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }

  .alert-q1 {
    width: 30%;
    top: 480px;
    left: 130px;
  }
  .error-q1 {
    width: 50%;
    top: 480px;
    left: 120px;
  }
  .overlay-q1 {
=======
  .question1 .time-remaining-q1 h2{
    margin-top: 20px;
    font-size: 14px;
  }
  .question1 .time-remaining-q1 h3{
    margin-top: 10px;
    font-size: 12px;
    }
     
     
  .overlay-q1{
>>>>>>> 7e63c3558bda0e4289b8b0e362ea6dcf9dd21131
    z-index: 1;
    display: fixed;
  }
  .container-q1 {
    top: -40px;
<<<<<<< HEAD
    left: 10px;
    width: 95%;
    height: 70%;
    overflow-y: auto;
=======
    width:95%;
    height: 60%;
>>>>>>> 7e63c3558bda0e4289b8b0e362ea6dcf9dd21131
  }
  .container-q1 .title1 {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
  }
  .container-q1 .span-q1 {
    font-size: 16px;
    text-align: center;
    font-weight: 600;
  }
  .container-q1 p {
    font-size: 16px;
    font-weight: 600;
    margin: 5px auto;
  }
<<<<<<< HEAD
  .content-q1 form .button-q1 {
    width: 90%;
    height: 50px;
    display: block;
    margin: auto;
=======
  .content-q1 form .button-q1{
    width:90%;
    height: 50px;
    margin-left: 15px;
>>>>>>> 7e63c3558bda0e4289b8b0e362ea6dcf9dd21131
    font-size: 18px;
   
  }
}
