@font-face {
  font-family: ARCO;
  src: local("ARCO"), url("../../ARCO.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ARCO", sans-serif;
}
.body-q3 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.6;
  overflow: hidden;
  background-image: url("../images/preg3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -100px;
}
.question3 {
  position: relative;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.question3 p {
  flex-wrap: wrap;
  margin-top: 70px;
  padding: 10px 20px 10px 10px;
  font-size: 18px;
  text-align: left;
}
.question3 img {
  width: 16%;
  margin-left: 300px;
  margin-bottom: 20px;
  box-shadow: 0 10px 10px 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}
.question3 .time-remaining {
  float: right;
  left: 350px;
}
.question3 .time-remaining h2 {
  margin-left: 80px;
  margin-top: 5px;
  font-size: 18px;
  color: #00c853;
  margin-bottom: 10px;
}
.question3 .time-remaining h3 {
  margin-left: 80px;
  margin-top: 5px;
  font-size: 18px;
  color: #f08080;
  margin-bottom: 10px;
}
.app-container-q3 {
  width: 1000px;
  width: 100%;
  height: 80vh;
  justify-content: center;
  margin: 40px auto;
  margin-bottom: 10px;
}
.dd-container-q3 {
  position: relative;
  align-items: center;
  margin: 50px auto;
  max-width: 1000px;
  width: 100%;
  height: 220px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.dd-container-q3 .col_name {
  font-size: 16px;
  text-align: center;
}

.drag-container-q3 {
  padding: 10px;
  width: 98%;
  overflow: hidden;
  height: 185px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  background: linear-gradient(135deg, #d41e31, #491f8f);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.drop-container-q3 {
  width: 150px;
  height: 80%;
  background: #fff;
  margin: 20px 5px;
  padding: 5px 5px 5px;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.drag-container-q3 span {
  font-size: 10px;
}
.button_next3 input[type="submit"] {
  position: relative;
  float: right;
  margin: -35px 40px;
  width: 20%;
  height: 20%;
  border: none;
  background: linear-gradient(135deg, #d41e31, #491f8f);
  color: #fff;
  font-size: 25px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 25px;
  transition: all 0.3s ease;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.button_next3 input[type="submit"]:hover {
  color: #111;
}

.alert-q3 {
  position: absolute;
  background-color: #00c853;
  top: 490px;
  left: 300px;
  padding-top: 10px;
  width: 15%;
  height: 6%;
  outline: none;
  font-size: 17px;
  border: none;
  z-index: 1;
  text-align: center;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
}
.error-q3 {
  position: absolute;
  background-color: #f08080;
  top: 490px;
  left: 300px;
  padding-top: 10px;
  width: 15%;
  height: 6%;
  outline: none;
  font-size: 17px;
  border: none;
  z-index: 1;
  text-align: center;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
}
.overlay-q3 {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}
.container-q3 {
  position: relative;
  align-items: center;
  max-width: 600px;
  width: 100%;
  height: 85vh;
  margin-top: 40px;
  justify-content: center;
  background-color: #fff;
  padding: 25px 40px;
  border-radius: 10%;
  box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}
.container-q3 .title1 {
  font-size: 22px;
  text-align: center;
  color: #00c853;
}
.container-q3 .span-q3 {
  margin-top: 10px;
  font-size: 15px;
}
.container-q3 p {
  color: #64b2ff;
  font-size: 15px;
  width: 50%;
  border-radius: 5px;
  margin: 0 auto;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.container-q3 .button-q3 {
  max-width: 300px;
  width: 100%;
  border-radius: 25px;
  margin-top: 10px;
  margin-left: 100px;
  border: none;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.container-q3 form .button-q3:hover {
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  color: #111;
}

@media (max-width: 960px) {
  .Navbar-q3 {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .question3 {
    width: 90%;
    top: 20px;
    height: 240px;
    left: -20px;
    background-color: #491f8f;
  }
  .question3 p {
    font-size: 12px;
  }
  .question3 img {
    width: 16%;
  }

  .question3 p .app-container-q3 {
    width: 80%;
  }
  .question3 .time-remaining h2 {
    margin-top: 20px;
    font-size: 14px;
  }
  .question3 .time-remaining h3 {
    margin-top: 20px;
    font-size: 14px;
  }
  .dd-container-q3:nth-child(1) {
    width: 90%;
    height: 180px;
    top: 20px;
    left: -20px;
  }
  .dd-container-q3:nth-child(2) {
    width: 90%;
    height: 180px;
    top: 10px;
    left: -20px;
  }
  .dd-container-q3 .col_name{
   
    text-align: center;
    font-size: 14px;
  }
  .drag-container-q3 {
    display: flex;
    overflow-x: hidden;
    width: 95%;
    height: 135px;
    margin-left: 15px;
    margin-top: 0;
  }
  .drop-container-q3 {

    width: 100px;
    height: 90%;
    display: inline-flex;
    margin: 20px 5px;
   
  }
  .drag-container-q3 span {
    font-size: 8px;
    padding: auto;
    border-radius: 15px;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
    

  .button_next3 input[type="submit"] {
    top: 20px;
    margin-right:60px;
    width: 35%;
    font-size: 18px;
    float: right;
   
  }

  .alert-q3 {
    top: 462px;
    left: 330px;
    font-size: 14px;
  }
  .error-q3 {
    width: 30%;
    top: 462px;
    left: 220px;
    font-size: 14px;
  }
  .overlay-q3 {
    z-index: 1;
    display: fixed;
  }
  .container-q3 {
    margin-top: 40px;
    height: 85vh;
  }
  .container-q3 .span-q3 {
    font-size: 15px;
    
  }
  .container-q3 p {
    font-size: 15px;
    margin: 0px auto;
    text-align: center;
  }
  .content-q3 form .button-q3 {
    width: 80%;
    margin-left: 100px;
  }
}
@media(max-width: 596px){
  .Navbar-q3{
    top:0;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .question3{
    width: 90%;
    height: 200px;
    top:70px;
    left: -20px;
    background-color: #00C853;
  }
  .question3 p{
    font-size: 12px;
  }
 
  .question3 img{
      width: 16%;
      float: right;
      margin-right: 20px;
  }
  .question3 .time-remaining {
    margin-top: 0;
  }
    .question3 .time-remaining h2{
      font-size: 13px;
      margin-top: 0;
    }
    .question3 .time-remaining h3{
      font-size: 13px;
      margin-top: 0;

    }
  .app-container-q3{
    width: 90%;
  }
  .dd-container-q3:nth-child(1){
      width: 100%;
      top: 70px;
  }
  .dd-container-q3:nth-child(2){
      width: 100%;
      top:70px;
      overflow-x: auto;
  }
  .drag-container-q3{
    margin: 0px 10px;
    width: 95%;
    height: 21vh;
    overflow-x: auto; 
}
  
  .drag-container-q3 span{
    font-size: 5.6px;
    margin-left: 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
  .drop-container-q3{

    width: 120px;

  }
  .button_next3 input[type="submit"]{
    width: 50%;
    top: 70px;
    float: right;
    margin-right: 20px;
    font-size: 14px;
  }
  .alert-q3{
   width: 30%;
   top: 530px;
   left:190px;
  }
  .error-q3{
   width: 30%;
   top: 530px;
   left: 195px;

  }
  .overlay-q3{
    z-index: 2;
    
  }
  .container-q3{
    margin-top: 40px;
    max-width: 90%;
    height: 85vh;
  }
  .container-q3 .span-q3{
    font-size: 13px;
  }
  .container-q3 p{
    font-size: 13px;
    margin: 0px auto;
    text-align: center;
  }
  .content-q3 form .button-q3{
    width: 80%;
    margin-left: 25px;
    font-size: 22px;
  }
}
@media (max-width: 496px) {
  .Navbar-q3 {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  .question3 {
    width: 90%;
    top: 20px;
    margin-left: 40px;
    align-items: center;
  }
  .question3 p {
    font-size: 12px;
  }
  .question3 .time-remaining h2 {
    margin-top: -10px;
    font-size: 12px;
  }
  .question3 .time-remaining h3 {
    margin-top: -10px;
    font-size: 12px;
  }

  .app-container-q3 {
    width: 90%;
  }
  
  .dd-container-q3:nth-child(1) {
    margin: 30px -20px;
  }
  .dd-container-q3:nth-child(2) {
    margin: 30px -20px;
  }

  .drag-container-q3 {
  display: flex;
    margin: 0px 10px;
    width: 95%;
    height: 15vh;
    overflow-x: auto;
  }
  .drag-container-q3 span {
    font-size: 5px;
    margin-left: 1px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
  .drop-container-q3{
    width: 30%;
    height: 100%;
  }
  .button_next3 input[type="submit"] {
    width: 50%;
    top: 60px;
    left: 120px;
    font-size: 13px;
  }
  
  .alert-q3 {
    width: 40%;
    top: 480px;
    left: 140px;
  }
  .error-q3 {
    width: 50%;
    top: 480px;
    left: 125px;
  }
  .overlay-q3 {
    z-index: 1;
    display: fixed;
  }
  .container-q3 {
    top: -40px;
    width: 95%;
    height: 90vh;
  }
  .container-q3 .title1 {
    font-size: 15px;
  }
  .container-q3 .span-q3 {
    font-size: 13px;
  }
  .container-q3 p {
    font-size: 13px;
    margin: 0px auto;
  }
  .content-q3  .button-q3 {
    width: 230px;
    margin-top: 50px;
    margin-left: -45px;
    font-size: 22px;
    
  }
}
