@font-face {
  font-family: ARCO;
  src: local('ARCO'),url('../../ARCO.ttf');
}            
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ARCO", sans-serif;
}
.body1{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.wrapper{
  max-width: 400px;
  width: 100%;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.3);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow: hidden;
}
.error .alert {
  background-color: #F08080;
  height: 30%;
  width: 100%;
  outline: none;
  font-size: 17px;
  margin-top: 0;
  padding: 10px 10px 10px 10px;
  border:none;
  text-align: center;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.3);
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
}
.wrapper .title{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  line-height: 100px;
  color: #fff;
  user-select: none;
  border-radius: 15px 15px 0 0;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
}
.wrapper form{
  padding: 10px 30px 10px 30px;
}
.wrapper form .field-l{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  position: relative;
}
.wrapper form .field-l input{
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 17px;
  padding-left: 20px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  transition: all 0.3s ease;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.wrapper form .field-l input::focus,
.wrapper form .field-l input::valid{
  border-color: #4158d0;
}
.wrapper form .field-l input::active{
  background-color: #262626;
}
.wrapper form .field-l label{
  position: absolute;
  top: 50%;
  left: 20px;
  color: #999999;
  font-weight: 400;
  font-size: 17px;
  pointer-events: none;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
form .field-l input:focus ~ label,
form .field-l input:valid ~ label{
  top: 0%;
  font-size: 16px;
  color: #4158d0;
  background: #fff;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
form .content{
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 16px;
  align-items: center;
  justify-content: space-around;
}
form .content input{
  width: 100%;
  height: 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}
form .content label{
  width: 100vh;
  color: #262626;
  user-select: none;
  text-align: center;
  justify-content:center;
}
.wrapper form .signup-l{
  width: 100vh;
  margin-top: 10px;
  margin-left: 70px;
  color: #262626;
  user-select: none;
  justify-content:center;
 
}


form .content .signup-link{
  text-align: center;
}
form .content .pass-link input[type="button"],
form .content .signup-link input[type="button"]{
    height: 50px;
    color: #4158d0;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

form .pass-link input[type="button"]:hover,
form .signup-link input[type="button"]:hover{
  text-decoration: underline;
  color: #262626;

}
form .button-l input[type="submit"]{
  width: 100%;
  height: 50px;
  color: #fff;
  padding-left: 0;
  font-size: 20px;
  border: none;
  border-radius:25px;
  font-weight: 500;
  cursor: pointer;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-border-radius:25px;
  -moz-border-radius:25px;
  -ms-border-radius:25px;
  -o-border-radius:25px;
}
form .button-l input[type="submit"]:active{
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
}

